In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import glob
from natsort import natsorted

# User-defined inputs
input_path = '/scratch/fuaday/B0_CanRCM4_Runs/B_Run_noglc_nomgnt'
output_path = '/scratch/fuaday/B0_CanRCM4_Runs/B_Run_noglc_nomgnt/xFigures'
start_dates = ['1991-01-01', '2025-01-01', '2071-01-01']
end_dates = ['2019-12-31', '2055-12-31', '2099-12-31']
#start_dates = ['1980-01-01', '2025-01-01', '2070-01-01']
#end_dates = ['2010-12-31', '2055-12-31', '2100-12-31']
station_list = ['QOSIM6', 'QOSIM20', 'QOSIM27', 'QOSIM33', 'QOSIM46', 'QOSIM48']
station_names = ['Oldman', 'Bow', 'Red Deer', 'N.SK Edmonton', 'N.SK Prince Albert', 'S.SK Saskatoon']
season_names = ['Winter', 'Spring', 'Summer', 'Autumn']
colors = ['#5B5B5B', 'orange', '#0066CC']
plot_title = 'Seasonal Volume (Million damÂ³)'
save_as = 'boxSel_noglc_nomgnt_seasonal_flow_python4.png'

In [ ]:

# Get list of CSV files
csv_files = glob.glob(f"{input_path}/outRunxRExIRxBS**/outRunxRExIRxBS**/BASINAVG1/MESH_output_streamflow.csv")
csv_files = natsorted(csv_files)

# Read CSV files into a list of DataFrames
data_frames = [pd.read_csv(file).replace(-1, np.nan).dropna(axis=1, how='all') for file in csv_files]

# Concatenate DataFrames
concatenated_df = pd.concat({f"R{i+1}": df for i, df in enumerate(data_frames)}, axis=1)

# Remove spaces from MultiIndex column names
concatenated_df.columns = concatenated_df.columns.map(lambda x: (x[0].strip(), x[1].strip()))

# Function to map month to season
def get_season(month):
    if month in [12, 1, 2]:
        return 'Winter'
    elif month in [3, 4, 5]:
        return 'Spring'
    elif month in [6, 7, 8]:
        return 'Summer'
    else:
        return 'Autumn'

# Extract date from YEAR and JDAY columns
concatenated_df[('date', 'date')] = pd.to_datetime(concatenated_df[('R1', 'YEAR')], format='%Y') + pd.to_timedelta(concatenated_df[('R1', 'JDAY')] - 1, unit='d')
concatenated_df[('year', 'year')] = concatenated_df[('date', 'date')].dt.year
concatenated_df[('month', 'month')] = concatenated_df[('date', 'date')].dt.month
# Map month to season and create new column
concatenated_df[('season', 'season')] = concatenated_df[('month', 'month')].apply(get_season)

# Group by year and season and sum for specified periods
df_1980_2010 = concatenated_df.loc[(concatenated_df[('date', 'date')] >= start_dates[0]) & (concatenated_df[('date', 'date')] <= end_dates[0])].groupby([('year', 'year'), ('season', 'season')]).sum()
df_2025_2055 = concatenated_df.loc[(concatenated_df[('date', 'date')] >= start_dates[1]) & (concatenated_df[('date', 'date')] <= end_dates[1])].groupby([('year', 'year'), ('season', 'season')]).sum()
df_2070_2100 = concatenated_df.loc[(concatenated_df[('date', 'date')] >= start_dates[2]) & (concatenated_df[('date', 'date')] <= end_dates[2])].groupby([('year', 'year'), ('season', 'season')]).sum()

# Update column names for consistency
for df in [df_1980_2010, df_2025_2055, df_2070_2100]:
    df.columns.names = ['REALIZATION', 'Station']

# Concatenate data along the second level of the MultiIndex
df_1980_2010_apnd = pd.concat([df_1980_2010.xs(col, level=1, axis=1).stack(dropna=False) for col in df_1980_2010.columns.levels[1][1:-5]], axis=1)
df_2025_2055_apnd = pd.concat([df_2025_2055.xs(col, level=1, axis=1).stack(dropna=False) for col in df_2025_2055.columns.levels[1][1:-5]], axis=1)
df_2070_2100_apnd = pd.concat([df_2070_2100.xs(col, level=1, axis=1).stack(dropna=False) for col in df_2070_2100.columns.levels[1][1:-5]], axis=1)

# Update column names
column_names = df_1980_2010.columns.levels[1][1:-5]
df_1980_2010_apnd.columns = column_names
df_2025_2055_apnd.columns = column_names
df_2070_2100_apnd.columns = column_names

# Convert to billion cubic meters
conversion_factor = (24 * 60 * 60) / 1e9
df_1980_2010_apnd *= conversion_factor
df_2025_2055_apnd *= conversion_factor
df_2070_2100_apnd *= conversion_factor

# Reindex for consistent column order
df_1980_2010_apnd = df_1980_2010_apnd.reindex(natsorted(df_1980_2010_apnd.columns), axis=1)
df_2025_2055_apnd = df_2025_2055_apnd.reindex(natsorted(df_2025_2055_apnd.columns), axis=1)
df_2070_2100_apnd = df_2070_2100_apnd.reindex(natsorted(df_2070_2100_apnd.columns), axis=1)
df_1980_2010_apnd.index.set_names(['year', 'season', 'REALIZATION'], inplace=True)
df_2025_2055_apnd.index.set_names(['year', 'season', 'REALIZATION'], inplace=True)
df_2070_2100_apnd.index.set_names(['year', 'season', 'REALIZATION'], inplace=True)

In [ ]:
#df_1980_2010_apnd.xs('Winter', level='season')[station_list[0]]

In [ ]:
# # Select the 'Winter' season for a specific station, for example, 'QOSIM6'
# winter_data = df_1980_2010_apnd[station_list[0]].xs('Winter', level='season')

# print(winter_data)

In [ ]:
# data = [    df_1980_2010_apnd.xs('Winter', level='season')[station_list[0]],
#             df_2025_2055_apnd.xs('Winter', level='season')[station_list[0]],
#             df_2070_2100_apnd.xs('Winter', level='season')[station_list[0]]
#         ]

In [ ]:
# Plotting
mpl.rcParams.update({'font.size': 9})
fig, axes = plt.subplots(len(station_names), len(season_names), figsize=(12, 12), dpi=100, constrained_layout=True)

# Add season labels on top
for j, season in enumerate(season_names):
    axes[0, j].set_title(season, color="k")

for i, station in enumerate(station_names):
    axes[i, 0].set_ylabel(station, rotation=90, ha='center', va='center')  # Rotate station labels

    for j, season in enumerate(season_names):
        data = [
            df_1980_2010_apnd.xs(season, level='season')[station_list[i]],
            df_2025_2055_apnd.xs(season, level='season')[station_list[i]],
            df_2070_2100_apnd.xs(season, level='season')[station_list[i]]
        ]
        ax = axes[i, j]
        bplot = ax.boxplot(data, notch=0, sym='+', vert=1, whis=1.5, widths=[0.5, 0.5, 0.5], patch_artist=True, labels=['His', 'Mid', 'End'])
        for patch, color in zip(bplot['boxes'], colors):
            patch.set_facecolor(color)
        ax.yaxis.grid(True, linestyle='-', which='major', color='lightgrey', alpha=0.5)
        # Calculate percentage change for the third series (df5apnd) relative to the first series (df3apnd)
        median_change_mid = (data[1].median() - data[0].median()) / data[0].median() * 100

        # Calculate percentage change for the second series (df4apnd) relative to the first series (df3apnd)
        median_change_end = (data[2].median() - data[0].median()) / data[0].median() * 100

        # Add percentage change text to the second and third box plots
        ax.text(0.5, 0.8, f'{median_change_mid:.2f}%', transform=ax.transAxes, ha='center', color='orange')
        ax.text(0.75, 0.9, f'{median_change_end:.2f}%', transform=ax.transAxes, ha='center', color='blue')

# Add y-axis label and plot title
fig.supylabel(plot_title)
# Show plot
plt.show()
# Save plot
fig.savefig(f"{output_path}/{save_as}")

In [1]:
# -*- coding: utf-8 -*-
"""
@author: Fuad Yassin
"""
#import os
import natsort
import pandas as pd
import numpy as np
#import seaborn as sns
import matplotlib.pyplot as plt
import glob
import matplotlib as mpl
    
pthIn = '/scratch/fuaday/B0_CanRCM4_Runs/B_Run_noglc_nomgnt'
pthOut = '/scratch/fuaday/B0_CanRCM4_Runs/B_Run_noglc_nomgnt/xFigures'
files = glob.glob(pthIn + '/outRunxRExIRxBS**/outRunxRExIRxBS**/BASINAVG1/MESH_output_streamflow.csv')
files = natsort.natsorted(files) #sort the dir list based on natural realization order
dfs = [pd.read_csv(fp) for fp in files]

In [10]:
tdb = dfs[0]
tdb = tdb.iloc[:, :-1]  # remove last column with nan data. not sure why it bring this columns
tdb.columns = tdb.columns.str.strip()     # remove column names space
tdb['date'] = pd.to_datetime(tdb.YEAR, format='%Y') + pd.to_timedelta(tdb.JDAY - 1, unit='d')  #create datetime
t=tdb['date'].iloc[0]   # create date column wiht out hour stamp
tdb['date1'] = tdb['date'].apply(lambda t:t.date())
tdb['date1'] = pd.to_datetime(tdb['date1'])
tdb['month'] = tdb['date1'].apply(lambda time: time.month)
tdb['season'] = tdb['month'].apply(lambda x: x%12 // 3 + 1) # convert month to season 
tdb

,YEAR,JDAY,QOMEAS1,QOSIM1,QOMEAS2,QOSIM2,QOMEAS3,QOSIM3,QOMEAS4,QOSIM4,...,QOMEAS52,QOSIM52,QOMEAS53,QOSIM53,QOMEAS54,QOSIM54,date,date1,month,season
0,1951,274,1.00000,1.043294,1.00000,0.998003,1.000000,0.940428,1.00000,0.370399,...,1.0000,1.009205,6.430000,6.060057,1320.0000,1325.0060,1951-10-01,1951-10-01,10,4
1,1951,275,1.00000,1.075078,1.00000,1.127398,1.000000,0.798712,1.00000,0.073608,...,1.0000,1.012995,6.230000,4.968360,1300.0000,1258.6770,1951-10-02,1951-10-02,10,4
2,1951,276,1.00000,1.015619,1.00000,1.270212,1.000000,0.646576,1.00000,0.028334,...,1.0000,1.147350,6.230000,3.767708,1290.0000,830.2394,1951-10-03,1951-10-03,10,4
3,1951,277,1.00000,0.927754,1.00000,1.264624,1.000000,0.530818,1.00000,0.014158,...,1.0000,1.893628,6.340000,2.814436,1250.0000,480.3273,1951-10-04,1951-10-04,10,4
4,1951,278,1.00000,0.915084,1.00000,1.348836,1.000000,0.641862,1.00000,0.008209,...,1.0000,3.192340,6.230000,2.132024,1240.0000,299.2969,1951-10-05,1951-10-05,10,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54417,2100,269,23.57566,14.378530,3.21570,16.568150,1.593576,0.195438,39.53375,0.003412,...,326.5345,353.310600,8.789645,5.442130,547.8116,421.9499,2100-09-26,2100-09-26,9,4
54418,2100,270,23.65283,14.205890,3.17855,16.370500,1.580554,0.192788,39.58297,0.003396,...,323.1035,349.323100,8.655000,5.406636,543.5363,413.6290,2100-09-27,2100-09-27,9,4
54419,2100,271,23.53981,14.037670,3.13305,16.176040,1.552108,0.189948,38.82406,0.003401,...,338.1207,344.705400,8.580290,5.377751,537.1450,406.6375,2100-09-28,2100-09-28,9,4
54420,2100,272,23.36226,13.877340,3.11085,15.985560,1.536169,0.186731,38.95734,0.003376,...,326.4138,338.877600,8.578113,5.344715,532.7681,400.5516,2100-09-29,2100-09-29,9,4
54421,2100,273,23.36623,13.725880,3.01570,15.804100,1.511954,0.183553,38.75828,0.003330,...,327.5172,332.564800,8.386774,5.351658,530.8696,395.1563,2100-09-30,2100-09-30,9,4

In [ ]:
tdb = dfs[0]
tdb = tdb.iloc[:, :-1]  # remove last column with nan data. not sure why it bring this columns
tdb.columns = tdb.columns.str.strip()     # remove column names space
tdb['date'] = pd.to_datetime(tdb.YEAR, format='%Y') + pd.to_timedelta(tdb.JDAY - 1, unit='d')  #create datetime
t=tdb['date'].iloc[0]   # create date column wiht out hour stamp
tdb['date1'] = tdb['date'].apply(lambda t:t.date())
tdb['date1'] = pd.to_datetime(tdb['date1'])
tdb['month'] = tdb['date1'].apply(lambda time: time.month)
tdb['season'] = tdb['month'].apply(lambda x: x%12 // 3 + 1) # convert month to season

In [ ]:

for fufu in range(len(dfs)):
    dfs[fufu].columns = dfs[fufu].columns.str.strip()     # remove column names space
    dfs[fufu] = dfs[fufu].iloc[:, :-1]           # remove last column with nan data.
    dfs[fufu] = dfs[fufu].replace(-1,np.NaN)
    dfs[fufu].drop(['YEAR','JDAY'],axis=1,inplace=True)
    
pieces = {"R0": dfs[0], "R1": dfs[1], "R2": dfs[2], "R3": dfs[3], "R4": dfs[4]\
          , "R5": dfs[5], "R6": dfs[6], "R7": dfs[7], "R8": dfs[8], "R9": dfs[9]\
          , "R10": dfs[10], "R11": dfs[11], "R12": dfs[12], "R13": dfs[13], "R14": dfs[14]}
df = pd.concat(pieces, axis=1) # if you want to select realz 1 df['R0']
df['date'] = tdb['date1']
df['year']  = tdb['YEAR']
df['season']  = tdb['season']

# Calculate mean as per Day of year and mask for selected time period Hist Fut
mask = (df['date'] >= '1991-01-01') & (df['date'] <= '2019-12-31')
df1mn = df.loc[mask].groupby(['year','season']).sum() 
mask = (df['date'] >= '2071-01-01') & (df['date'] <= '2099-12-31')
df2mn = df.loc[mask].groupby(['year','season']).sum() 

df1mn.columns.names = ['REALA','Sta'] # label column indexs
df2mn.columns.names = ['REALA','Sta'] # label column indexs

for i in df1mn.columns.levels[0][:-3]:     #list without the last date and year column #g=df1mn.columns.levels[0]
    #print(i)
    if i=='R0':
        df1apnd = df1mn['R0']
    else:
        df1apnd = pd.concat([df1apnd,df1mn[i]])

for i in df2mn.columns.levels[0][:-3]:     #list without the last date and year column #g=df1mn.columns.levels[0]
    #print(i)
    if i=='R0':
        df2apnd = df2mn['R0']
    else:
        df2apnd = pd.concat([df2apnd,df2mn[i]])

c = (24*60*60)/1000000000;  # convert to billion cubic metters
df1apnd = df1apnd*c  
df2apnd = df2apnd*c          

labels = ['His', 'Fut']
stlist = ['QOSIM6','QOSIM20','QOSIM27','QOSIM33','QOSIM46','QOSIM48']
stname = ['Oldman','Bow','Red Deer','N.SK Edmonton','N.SK Prince Albert','S.SK Saskatoon']
sesname = ['Winter','Spring','Summer','Autumn']
mpl.rcParams.update({'font.size': 9})
#df1apnd['QOSIM1'].xs(1,level='season')    #df1apnd.xs(1,level='season')['QOSIM1']
colors = ['#5B5B5B', '#0066CC']

fig, axes = plt.subplots(6,4,sharex=True,figsize=(6,8.5),dpi=100,constrained_layout=True)
for i in range(0,6):
    for j in range(0,4):
        bplt1=axes[i,j].boxplot([df1apnd[stlist[i]].xs(j+1,level='season'),df2apnd[stlist[i]].xs(j+1,level='season')],
                          notch=0, sym='+', vert=1, whis=1.5, widths=(0.5, 0.5), patch_artist=True, labels=['',''])
        for patch, color in zip(bplt1['boxes'],colors):
            patch.set_facecolor(color)
        axes[i,j].yaxis.grid(True, linestyle='-', which='major', color='lightgrey',alpha=0.5)
        if i==0:
            axes[i,j].set_title(sesname[j], color="k")
        if j==0:
            axes[i,j].set_ylabel(stname[i])
        median_change = (df2apnd[stlist[i]].xs(j+1,level='season').median() - df1apnd[stlist[i]].xs(j+1,level='season').median()) / df1apnd[stlist[i]].xs(j+1,level='season').median() * 100
        # Add percentage change text to the plot
        axes[i,j].text(0.5, 0.9, f'{median_change:.2f}%', transform= axes[i,j].transAxes, ha='center')
fig.supylabel('Flow (bcm)')    
#plt.tight_layout 
plt.show()
fig.savefig(pthOut + '/easonalboxSel_noglc_nomgnt_flow_python.png') #fig.savefig('my_picture.png',dpi=200)

In [ ]:
import natsort
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
import matplotlib as mpl

# Define input and output paths
pthIn = '/scratch/fuaday/B0_CanRCM4_Runs/B_Run_noglc_nomgnt'
pthOut = '/scratch/fuaday/B0_CanRCM4_Runs/B_Run_noglc_nomgnt/xFigures'

# Get list of CSV files
files = glob.glob(pthIn + '/outRunxRExIRxBS**/outRunxRExIRxBS**/BASINAVG1/MESH_output_streamflow.csv')
files = natsort.natsorted(files)

# Read CSV files into a list of DataFrames
dfs = [pd.read_csv(fp) for fp in files]
tdb = dfs[0]
tdb = tdb.iloc[:, :-1]  # remove last column with nan data
tdb.columns = tdb.columns.str.strip()  # remove column names space
tdb['date'] = pd.to_datetime(tdb.YEAR, format='%Y') + pd.to_timedelta(tdb.JDAY - 1, unit='d')  # create datetime
tdb['date1'] = tdb['date'].apply(lambda t: t.date())
tdb['date1'] = pd.to_datetime(tdb['date1'])
tdb['month'] = tdb['date1'].apply(lambda time: time.month)
tdb['season'] = tdb['month'].apply(lambda x: x % 12 // 3 + 1)  # convert month to season 

for fufu in range(len(dfs)):
    dfs[fufu].columns = dfs[fufu].columns.str.strip()  # remove column names space
    dfs[fufu] = dfs[fufu].iloc[:, :-1]  # remove last column with nan data
    dfs[fufu] = dfs[fufu].replace(-1, np.NaN)
    dfs[fufu].drop(['YEAR', 'JDAY'], axis=1, inplace=True)

pieces = {f"R{i}": dfs[i] for i in range(len(dfs))}
df = pd.concat(pieces, axis=1)
df['date'] = tdb['date1']
df['year'] = tdb['YEAR']
df['season'] = tdb['season']

# Calculate mean as per Day of year and mask for selected time period Hist Fut
mask = (df['date'] >= '1991-01-01') & (df['date'] <= '2019-12-31')
df1mn = df.loc[mask].groupby(['year', 'season']).sum()
mask = (df['date'] >= '2071-01-01') & (df['date'] <= '2099-12-31')
df2mn = df.loc[mask].groupby(['year', 'season']).sum()

df1mn.columns.names = ['REALA', 'Sta']
df2mn.columns.names = ['REALA', 'Sta']

df1apnd = pd.concat([df1mn[col] for col in df1mn.columns.levels[0][:-3]], axis=0)
df2apnd = pd.concat([df2mn[col] for col in df2mn.columns.levels[0][:-3]], axis=0)

# Convert to billion cubic meters
c = (24 * 60 * 60) / 1e9
df1apnd *= c
df2apnd *= c

labels = ['His', 'Fut']
stlist = ['QOSIM6', 'QOSIM20', 'QOSIM27', 'QOSIM33', 'QOSIM46', 'QOSIM48']
stname = ['Oldman', 'Bow', 'Red Deer', 'N.SK Edmonton', 'N.SK Prince Albert', 'S.SK Saskatoon']
sesname = ['Winter', 'Spring', 'Summer', 'Autumn']
mpl.rcParams.update({'font.size': 9})
colors = ['#5B5B5B', '#0066CC']

fig, axes = plt.subplots(6, 4, sharex=True, figsize=(6, 8.5), dpi=100, constrained_layout=True)
for i in range(0, 6):
    for j in range(0, 4):
        bplt1 = axes[i, j].boxplot([df1apnd[stlist[i]].xs(j + 1, level='season'), df2apnd[stlist[i]].xs(j + 1, level='season')],
                                   notch=0, sym='+', vert=1, whis=1.5, widths=(0.5, 0.5), patch_artist=True, labels=['', ''])
        for patch, color in zip(bplt1['boxes'], colors):
            patch.set_facecolor(color)
        axes[i, j].yaxis.grid(True, linestyle='-', which='major', color='lightgrey', alpha=0.5)
        if i == 0:
            axes[i, j].set_title(sesname[j], color="k")
        if j == 0:
            axes[i, j].set_ylabel(stname[i])
        median_change = (df2apnd[stlist[i]].xs(j + 1, level='season').median() - df1apnd[stlist[i]].xs(j + 1, level='season').median()) / df1apnd[stlist[i]].xs(j + 1, level='season').median() * 100
        # Add percentage change text to the plot
        axes[i, j].text(0.5, 0.9, f'{median_change:.2f}%', transform=axes[i, j].transAxes, ha='center')
fig.supylabel('Flow (bcm)')
plt.show()
fig.savefig(pthOut + '/seasonalboxSel_noglc_nomgnt_flow_python.png')